.mention {
  color: #00688c;
  background: transparent;
}

ol {
  list-style-type: decimal;
}

ol ol {
  list-style-type: lower-latin;
}

ol ol ol {
  list-style-type: lower-roman;
}

ol ol ol ol {
  list-style-type: upper-latin;
}

ol ol ol ol ol {
  list-style-type: upper-roman;
}

.text-small {
  font-size: 0.85em;
}

.text-tiny {
  font-size: 0.7em;
}

.text-big {
  font-size: 1.4em;
}

.text-huge {
  font-size: 1.8em;
}

hr {
  background: black;
  border: 0;
  height: 1px;
}

.image {
  clear: both;
  display: table;
  margin: 0.9em auto;
  min-width: 50px;
  text-align: center;
}

.image.image-style-align-left {
  float: left;
  margin-right: 1.5em;
}

.image.image-style-align-right {
  float: right;
  margin-left: 1.5em;
}

.image.image-style-block-align-right {
  margin-left: auto;
  margin-right: 0;
}

.image.image-style-block-align-left {
  margin-left: 0;
  margin-right: auto;
}

.image.image_resized {
  box-sizing: border-box;
  display: block;
  max-width: 100%;
}

.image img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  min-width: 100%;
  height: auto;
}

img, picture {
  max-width: 100%;
}


.table table {
  overflow: hidden;
  border: 1px double #b3b3b3;
  border-collapse: collapse;
  border-spacing: 0;
  height: 100%;
  width: 100%;
}

table tr {
  overflow-wrap: anywhere;
  word-break: break-word;
}

.table table td,
.table table th {
  border: 1px solid #bfbfbf;
  min-width: 2em;
  padding: 0.4em;
  overflow-wrap: break-word;
  position: relative;
}

.table {
  display: table;
  margin: 0.9em auto;
  position: relative;
}

table .ck-table-resized {
  table-layout: fixed;
}

.table > figcaption {
  background-color: #f7f7f7;
  caption-side: top;
  color: #333;
  display: table-caption;
  font-size: 0.75em;
  outline-offset: -1px;
  padding: 0.6em;
  text-align: center;
  word-break: break-word;
}

.table table th {
  background: rgba(0, 0, 0, 0.05);
  font-weight: 700;
}
