.ck-reset_all :not(.ck-reset_all-excluded *),
.ck.ck-reset_all {
    border-collapse: collapse;
    color: var(--ck-color-text);
    cursor: auto;
    float: none;
    font: normal normal normal var(--ck-font-size-base)/var(--ck-line-height-base) var(--ck-font-face);
    text-align: left;
    white-space: nowrap
}
