.ck.ck-editor__editable a span.image-inline:after,
.ck.ck-editor__editable figure.image>a:after {
    display: block;
    position: absolute
}

.ck-editor__editable .ck-list-bogus-paragraph {
    display: inline
}

.ck.ck-list-styles-list {
    display: grid
}

.ck-content ol {
    list-style-type: decimal
}

.ck-content ol ol {
    list-style-type: lower-latin
}

.ck-content ol ol ol {
    list-style-type: lower-roman
}

.ck-content ol ol ol ol {
    list-style-type: upper-latin
}

.ck-content ol ol ol ol ol {
    list-style-type: upper-roman
}

.ck-content ul {
    list-style-type: disc
}

.ck-content ul ul {
    list-style-type: circle
}

.ck-content ul ul ul,
.ck-content ul ul ul ul {
    list-style-type: square
}
